.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.texto-usuario-nuevo {
  align-self: center;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.mt-dropdown {
  margin-top: 5px;
}

.box-left {
  margin-left: 11%;
  margin-top: 2%;
}

.textField {
  height: 32px;
  width: 200px;
  border: 1px solid #e5e5e5;
  padding: 0 32px 0 16px;
}

.textField:hover {
  cursor: pointer;
}

.btnBuscar {
  height: 34px;
  width: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.barraBusqueda {
  float: right;
  padding: 20px;
}

label {
  color: transparent;
  font-size: 0.1px;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SCROLL BODY */
.scroll-body {
  overflow: scroll;
  height: 100%;
  width: auto;
  overflow-x: hidden;
}
.scroll-body::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.scroll-body::-webkit-scrollbar-track {
  background:#d4dadf;
}
/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
  background: #d0d8dd;
}
/* Handle on hover */
.scroll-body::-webkit-scrollbar-thumb:hover {
  background: #5a189a;
}